.rowBox {
  display: flex;
  width: 100%;
  padding: 0 10px 10px 10px;
  flex-direction: column;
  align-items: flex-start;
  
  .rowLabel {
    font-weight: 700;
    margin-bottom: 4px;
  }
}


/* Tablet portrait */
@media screen and (min-width: 600px) {
  .rowBox {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .rowLabel {
      width: 30%;
      margin-right: 10px;
      margin-bottom: none;
    }
  }
}

/* Tablet landscape */
@media screen and (min-width: 760px) {
  .rowBox {
    .rowLabel {
      // width: 25%;
      white-space: nowrap;
      /* margin-right: 20px; */
      overflow: hidden;
    }
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  // .rowBox {
  //   .rowLabel {
  //     width: 20%;
  //   }
  // }
}

/* WW Desktop */
@media screen and (min-width: 1200px) {

}