.main {
  position: relative;
  // width: 100%;
  // max-width: 1000px;
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 12px;
  color: #424242;

  .groupBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;

      li {
        width: 100%;
        margin-bottom: 5px;
        padding-left: 20px;

        // &.workplace{
          // background: linear-gradient(to right, #FFFFFF, 70%, rgb(204, 227, 235));
        // }

        .linkBox {
          display: inline-block;
          // background: linear-gradient(to right, #FFFFFF, 70%, rgb(204, 227, 235));
          background-repeat: no-repeat;
          background-position: -35px center;
          filter: grayscale(100%);
          // background-size: 50%;

          

          &:hover,
          &:focus {
            // background-size: 115%;
            transition: all .3s;
            filter: grayscale(0%);

            // .link {
            //   // color: rgb(97, 170, 194);
            //   // background-color: rgba($color: #ffffff, $alpha: .9);
            //   // transition: background-color .3s;             
            // }
            .visualLink {
              width: 100%;
            }
          }
          
          .link {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            // color: inherit;
            padding: 4px 0 8px 0;
            font-size: 18px;
            transition: font .3s;
            // background-color: rgba($color: #ffffff, $alpha: 0);
            overflow: hidden;

            &:hover,
            &:focus,
            &:active {
              // color: rgb(97, 170, 194);
              // background-color: rgba($color: #ffffff, $alpha: .9);
              // transition: background-color .3s;

              & ~ .visualLink {
                width: 100%;
              }
            }
          }
  
          .visualLink {
            // border-bottom: 3px solid lightblue;
            width: 0px;
            transition: width, .3s;
          }
        }
      }



    }

    label {
      width: 100%;
      font-size: 18px;
      color: rgb(97, 170, 194);
      font-weight: 700;
      padding: 20px 8px;
      border:  1px solid lightblue;
      border-radius: 3px;
      background-color: transparent;
      transition: background-color 0.3s ease;
    }

    .systemList {
      opacity: 0;
      display: none;
      margin-top: 8px;
    }

    input[type="radio"]:checked ~ .systemList {
      display: flex;
      animation: group 500ms ease-out forwards;
    }
    
    input[type="radio"]:checked ~ label {
      border: none;
      padding-bottom: 4px;
    }
    
    input[type="radio"]:not(:checked) ~ label {
      &:hover {
        background-color: rgb(231, 245, 250);
        cursor: pointer;
      }
    }      
    
    input[type="radio"]:not(:checked):focus~ label {
       background-color: rgb(231, 245, 250);
    }      
  }
}


.workplace {
  background: linear-gradient(to right, #FFFFFF, 70%, rgb(214, 235, 204));
  border: 1px solid rgb(3, 129, 31);
  border-radius: 3px;
  .link {
    &:hover,
    &:focus,
    &:active { 
      color: rgb(3, 129, 31);
    }
  }
  .visualLink {
    border-bottom: 8px solid #8AC96A;
  }  
}
.corpsystem {
  background: linear-gradient(to right, #FFFFFF, 70%, rgb(220, 230, 248));
  border: 1px solid rgb(4, 112, 148);
  border-radius: 3px;
  .link {
    &:hover,
    &:focus,
    &:active {
      color: rgb(4, 112, 148);
    }
  }
  .visualLink {
    border-bottom: 8px solid lightblue;
  }  
}
.application {
  background: linear-gradient(to right, #FFFFFF, 70%, rgb(225, 204, 235));
  border: 1px solid rgb(126, 30, 150);
  border-radius: 3px;
  .link {
    &:hover,
    &:focus,
    &:active {
      color: rgb(126, 30, 150);
    }
  }
  .visualLink {
    border-bottom: 8px solid #D7A8EC;
  }  
}


@keyframes group {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}





/* Tablet portrait */
@media screen and (min-width: 600px) {
  .main {
    padding-bottom: 28px;
    .groupBox {
      margin-bottom: 24px;

      ul {
        flex-direction: row;
        flex-wrap: wrap;

        li {
          width: 44%;
          height: 100px;
          margin: 0px;
          padding: 0px;
          // border:  1px solid rgb(97, 170, 194);
          margin-left: 4%;
          margin-bottom: 4%;
          
          // &:hover {
          //   // border-color: rgb(97, 170, 194);
          // }

          .linkBox {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;

            .link {
              padding: 0 10px 0 80px;
              text-align: right;
              // align-items: flex-end;
              
              // &:hover,
              // &:focus,
              // &:active {
              //   color: rgb(53, 143, 173);
              // }
              
            }
            // .visualLink {
            //   // border-bottom: 8px solid lightblue;
            // }

          }
        }
      }
      label {
        width: 100%;
        font-size: 20px;
        padding: 20px 8px;
        background-color: transparent;
        text-align: center;
      }

      input[type="radio"]:checked ~ label {
        padding-bottom: 12px;
        
      }
    }
  }

}


/* Tablet landscape */
@media screen and (min-width: 760px) {
  .main {
    .groupBox {
      ul {
        li {
          width: 30.9%;
          margin-left: 2%;
          margin-bottom: 2%;
        }
      }
    }
  }
}


/* Desktop */
@media screen and (min-width: 1024px) {
  .main {
    .groupBox {
  
  
      label {
        border:  none;
        transition: none;
        text-align: left;
        padding-top: 0;
      }
  
      .systemList {
        opacity: 1;
        display: flex;
      }
      
      input[type="radio"]:checked ~ .systemList {
        animation: none;
      }

      input[type="radio"]:checked ~ label {
        border: none;
        padding-bottom: 20px;
      }
      
      input[type="radio"]:not(:checked) ~ label {
        &:hover {
          background-color: transparent;
          cursor: initial;
        }
      }      
      
      input[type="radio"]:not(:checked):focus~ label {
         background-color: transparent;
      }      
    }
  }
}


/* WW Desktop */
@media screen and (min-width: 1200px) {

}