.datalist {
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #978f8f;
  border-radius: 3px;
  z-index: 9;
  background-color: white;
}


/* Tablet portrait */
@media screen and (min-width: 600px) {}

/* Tablet landscape */
@media screen and (min-width: 760px) {}

/* Desktop */
@media screen and (min-width: 1024px) {}

/* WW Desktop */
@media screen and (min-width: 1200px) {}