.formSet {
  width: 100%;
  padding: 12px 5px;
  border:  1px solid lightblue;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  legend{
    padding: 0 3px;
    color: rgb(97, 170, 194);
    font-weight: 700;
  }
}


/* Tablet portrait */
@media screen and (min-width: 600px) {
  .formSet {
    padding-left: 1%;
    padding-right: 1%;
  }  
}

/* Tablet landscape */
@media screen and (min-width: 760px) {}

/* Desktop */
@media screen and (min-width: 1024px) {}

/* WW Desktop */
@media screen and (min-width: 1200px) {}