.agreements {
  font: inherit;
  width: 100%;
  
  .systemFullName {
    font-weight: 700;
  }

  .roleFullName {
    margin-top: 8px;
  }

  .oneRoleAgree {
    display: table;
    width: 100%;
    border-collapse: collapse;
    
    .rowTable {
      display: table-row;

      & > div {
        display: table-cell;
        padding: 5px;
        border: 1px solid gray;
        vertical-align: middle;
      }
    }
  }


}