.header {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 100px;
  // margin-bottom: 20px;

  .appHeader {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;

    h1 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 4px;
      flex-grow: 1;
      text-align: center;

      a {
        color: inherit;
      }
    }
    .langs {
      position: absolute;
      width: 29px;
      height: 28px;
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-right: 1%;
      cursor: pointer;
      top: 5px;
      right: 5px;

      &:hover,
      &:focus,
      &:active {
        outline: 2px solid lightblue;
      } 
    }
  }
}


/* Tablet portrait */
@media screen and (min-width: 600px) {
  // .header {
  //   width: 100%;
  //   display: flex;
  //   padding: 10px;
  //   min-height: 100px;
  
  //   .appHeader {
  //     .leftSide{
  //       .menu {
  //         width: 29px;
  //         height: 25px;
  //         margin-top: 4px;
  //         margin-right: 12px;
  
  //         &::before {
  //           top: 10px;
  //           }
  //         &::after{
  //           bottom: 10px;
  //         }
  //       }
  //       .systemName {
  //         min-height: 64px;

  //         .headerTopLine {
  //           h1 {
  //             font-size: 24px;
  //           }
  //           .langs {
  //             margin-left: auto;
  //             margin-right: 1%;
  //           }
  //         }
  
  //         h3 {
  //           font-size: 20px;
  //         }      
  //       }      
  //     }
  //     .ownerName {
  //       font-size: 16px;
  //       padding-right: 1%;
  //       .userIcon {
  //       font-size: 14px;
  //       }
  //     }
  //   }
  // }
}

/* Tablet landscape */
@media screen and (min-width: 760px) {

}

/* Desktop */
@media screen and (min-width: 1024px) {

}

/* WW Desktop */
@media screen and (min-width: 1200px) {

}
