.widowData {
  font: inherit;

  .option {
    width: 100%;
    font: inherit;
    cursor: pointer;
    padding: 8px 5px;
    margin-bottom: 1px;
    background-color: rgb(204, 227, 235);
    color: #424242;
  
    &:focus,
    &:hover {
      background-color: lightblue;
    }
  }
}