.window {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 750px;
  border: 3px solid lightblue;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  // padding: 0 0 5px 5px;
  background-color: rgba(256, 256, 256, $alpha: .95);
  top: 50%;
  transform: translateY(-50%);
  animation: win 200ms ease-out forwards;

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    background-color: lightblue;
    padding-left: 15px;
    font-weight: 700;

    .closer {
      width: 30px;
      height: 30px;
      color: gray;
      background-color: transparent;
      border: none;
      border-radius: 3px;
      padding: 0;
      font-size: 24px;
      font-weight: 400;
      cursor: pointer;
      transition: all, .5s;
      
      &:hover,
      &:focus {
        font-weight: 700;
        color: #000000;
      }
    }
  }

  main {
    padding: 8px;
    width: 100%;
    overflow-y: auto;
  }

}

@keyframes win {
  0% {
    width: 30%;
    height: 30%;
    opacity: .3;
  }
  75% {
    opacity: .95;
    width: 91%;
    height: 76%;
  }
  100% {
    width: 90%;
    height: 75%;
    
  }
}