.nameSearch {
  width: 100%;
  position: relative;
}
.spinerNames svg {
  position: absolute;
  height: 70px;
} 

/* Tablet portrait */
@media screen and (min-width: 600px) {}

/* Tablet landscape */
@media screen and (min-width: 760px) {}

/* Desktop */
@media screen and (min-width: 1024px) {}

/* WW Desktop */
@media screen and (min-width: 1200px) {}