.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  color: #424242;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.mainForm {
  width: 100%;
  min-width: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowLabel {
  font-weight: 700;
  margin-bottom: 4px;
}

.testData {
  display: flex;
  flex-direction: column;
}


/* Tablet portrait */
@media screen and (min-width: 600px) {
  .rowLabel {
    margin-right: 10px;
    margin-bottom: none;
  }

  .testData {
    flex-direction: row;
  }
}


/* Tablet landscape */
@media screen and (min-width: 760px) {
  .rowLabel {
    white-space: nowrap;
    margin-right: 20px;
  }
}


/* Desktop */
@media screen and (min-width: 1024px) {}


/* WW Desktop */
@media screen and (min-width: 1200px) {}