$height: 28px;

.inputBox {
  width: 100%;
  height: $height;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
}

.input {
  width: 100%;
  padding: 5px $height 5px 5px;
  border: 1px solid #978f8f;
  position: absolute;
  border-radius: 3px;

}

.clrButton {
  width: $height;
  height: $height;
  position: absolute;
  color: gray;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 24px;
  right: 0;
  cursor: pointer;
}